* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

section {
    position: relative;
}

.card {
    width: 160px;
    height: 225px;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}

.card2 {
    position: absolute;
    top: 0;
    left: 30px;
}

.card3 {
    position: absolute;
    top: 0;
    left: 60px;
}

div {
    font-size: 2.5rem;
}

.hearts:before {

}

.diamonds {

}

.clubs {

}

.spades {

}